<section id="usernote__recommend" class="section-black bs-docs-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="usernote__recommend-header">新着ユーザーノート</h3>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e9%a1%a7%e5%ae%a2%e7%8d%b2%e5%be%97%e5%8d%98%e4%be%a1-4/"><img src="http://member.ard-online.jp/user_upload/3565_20200714-103856.jpeg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.16 松本 幸大</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e9%a1%a7%e5%ae%a2%e7%8d%b2%e5%be%97%e5%8d%98%e4%be%a1-4/">顧客獲得単価</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e3%80%8c%e6%9a%91%e3%81%99%e3%81%8e%e3%81%a6%e5%ae%b6%e3%81%a7%e3%81%9f%e3%81%8f%e3%81%ad%e3%81%88%e3%83%bc%e3%80%8d%e3%81%9d%e3%82%93%e3%81%aa%e3%81%82%e3%81%aa%e3%81%9f%e3%81%a7%e3%82%82%e5%a3%b2/"><img src="http://member.ard-online.jp/user_upload/2732_20200709-154856.jpeg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.16 えのき だよ❣️</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e3%80%8c%e6%9a%91%e3%81%99%e3%81%8e%e3%81%a6%e5%ae%b6%e3%81%a7%e3%81%9f%e3%81%8f%e3%81%ad%e3%81%88%e3%83%bc%e3%80%8d%e3%81%9d%e3%82%93%e3%81%aa%e3%81%82%e3%81%aa%e3%81%9f%e3%81%a7%e3%82%82%e5%a3%b2/">「暑すぎて家でたくねえー」そんなあなたでも売り上げる方法 #経営・本質思考クラス</a></div> <span class="badge badge-pill badge-info">♥ 12</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e4%bb%8a%e5%9f%ba%e7%a4%8e%e7%9f%a5%e8%ad%98%e3%82%92%e5%ad%a6%e3%82%93%e3%81%a7%e3%81%84%e3%82%8b%e5%83%95%e3%81%8c%e4%bc%9d%e3%81%88%e3%82%8c%e3%82%8b%e3%81%93%e3%81%a8/"><img src="http://member.ard-online.jp/user_upload/3325_20200809-090701.jpg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.16 石井 大輔</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e4%bb%8a%e5%9f%ba%e7%a4%8e%e7%9f%a5%e8%ad%98%e3%82%92%e5%ad%a6%e3%82%93%e3%81%a7%e3%81%84%e3%82%8b%e5%83%95%e3%81%8c%e4%bc%9d%e3%81%88%e3%82%8c%e3%82%8b%e3%81%93%e3%81%a8/">今基礎知識を学んでいる僕が伝えれること</a></div> <span class="badge badge-pill badge-info">♥ 5</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e7%b5%90%e5%b1%80%e3%81%afmgk%e3%81%ae%e8%b3%aa%f0%9f%98%a2/"><img src="http://member.ard-online.jp/user_upload/3389_20200815-150751.jpeg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.16 松山 美里（まつこ）</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e7%b5%90%e5%b1%80%e3%81%afmgk%e3%81%ae%e8%b3%aa%f0%9f%98%a2/">結局はMGKの質😢</a></div> <span class="badge badge-pill badge-info">♥ 12</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e3%81%82%e3%81%aa%e3%81%9f%e3%81%8c%e3%83%a2%e3%83%8e%e3%83%9d%e3%83%aa%e3%83%bc%e3%81%8c%e5%bc%b7%e3%81%8f%e3%81%aa%e3%82%89%e3%81%aa%e3%81%84%e7%90%86%e7%94%b1%e3%81%af%e3%80%81%e3%80%81/"><img src="http://member.ard-online.jp/user_upload/2335_20200627-152900.jpeg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.15 ほりい しょうご</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e3%81%82%e3%81%aa%e3%81%9f%e3%81%8c%e3%83%a2%e3%83%8e%e3%83%9d%e3%83%aa%e3%83%bc%e3%81%8c%e5%bc%b7%e3%81%8f%e3%81%aa%e3%82%89%e3%81%aa%e3%81%84%e7%90%86%e7%94%b1%e3%81%af%e3%80%81%e3%80%81/">あなたがモノポリーが強くならない理由は、、</a></div> <span class="badge badge-pill badge-info">♥ 56</span> <span class="badge badge-pill badge-warning">コメント 3</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e7%9b%ae%e3%81%ab%e8%a6%8b%e3%81%88%e3%81%aa%e3%81%84%e4%b8%96%e7%95%8c%e3%82%92%e4%bf%a1%e3%81%98%e3%81%9f%e3%81%93%e3%81%a8%e3%81%af%e3%81%82%e3%82%8a%e3%81%be%e3%81%99%e3%81%8b%ef%bc%9f/"><img src="https://member.ard-online.jp/user_upload/2975_20190909-153730.jpeg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.15 まつともーーーーー (宇宙人)</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e7%9b%ae%e3%81%ab%e8%a6%8b%e3%81%88%e3%81%aa%e3%81%84%e4%b8%96%e7%95%8c%e3%82%92%e4%bf%a1%e3%81%98%e3%81%9f%e3%81%93%e3%81%a8%e3%81%af%e3%81%82%e3%82%8a%e3%81%be%e3%81%99%e3%81%8b%ef%bc%9f/">目に見えない世界を信じたことはありますか？</a></div> <span class="badge badge-pill badge-info">♥ 15</span> <span class="badge badge-pill badge-warning">コメント 6</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/20200816_umakuhanasenai/"><img src="http://member.ard-online.jp/user_upload/2010_20200815-100750.png"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.15 廣田 大地</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/20200816_umakuhanasenai/">自分のことをうまく話せなくなったので書く</a></div> <span class="badge badge-pill badge-info">♥ 13</span> <span class="badge badge-pill badge-warning">コメント 2</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e4%ba%ba%e7%94%9f%e3%81%ae%e9%80%b2%e6%8d%971/"><img src="http://member.ard-online.jp/user_upload/3487_20200815-091307.jpeg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.15 平田 慎之助</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e4%ba%ba%e7%94%9f%e3%81%ae%e9%80%b2%e6%8d%971/">人生の進捗1</a></div> <span class="badge badge-pill badge-info">♥ 18</span> <span class="badge badge-pill badge-warning">コメント 1</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/foreigner-community-vol14/"><img src="http://member.ard-online.jp/user_upload/545_20200730-154109.JPG"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.15 譲原 裕之</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/foreigner-community-vol14/">【軌跡 Day.14】在日外国人コミュニティ事業</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e9%99%90%e7%95%8c%e5%a3%b2%e4%b8%8a%e3%80%81%e9%99%90%e7%95%8c%e5%88%a9%e7%9b%8a/"><img src="http://member.ard-online.jp/user_upload/3565_20200714-103856.jpeg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.15 松本 幸大</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e9%99%90%e7%95%8c%e5%a3%b2%e4%b8%8a%e3%80%81%e9%99%90%e7%95%8c%e5%88%a9%e7%9b%8a/">限界売上、限界利益</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e3%80%90%e5%af%be%e8%ab%87%e4%bc%81%e7%94%bbno-2%e3%80%91%e3%82%82%e3%81%97playful%e3%81%ae%e3%81%98%e3%82%85%e3%82%93%e3%82%84%e3%81%95%e3%82%93%e3%81%8c%e3%81%bf%e3%81%8f%e3%81%ae%e4%ba%ba%e7%94%9f/"><img src="http://member.ard-online.jp/user_upload/2859_20200707-171426.jpeg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.14 佐藤 美空</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e3%80%90%e5%af%be%e8%ab%87%e4%bc%81%e7%94%bbno-2%e3%80%91%e3%82%82%e3%81%97playful%e3%81%ae%e3%81%98%e3%82%85%e3%82%93%e3%82%84%e3%81%95%e3%82%93%e3%81%8c%e3%81%bf%e3%81%8f%e3%81%ae%e4%ba%ba%e7%94%9f/">【対談企画No.2】もしplayfulのじゅんやさんがみくの人生を生きるなら</a></div> <span class="badge badge-pill badge-info">♥ 10</span> <span class="badge badge-pill badge-warning">コメント 5</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e3%80%90thecreative%e3%80%913%e3%83%b6%e6%9c%88%e3%82%a2%e3%83%af%e3%83%bc%e3%83%89%e7%99%ba%e8%a1%a8/"><img src="https://member.ard-online.jp/user_upload/3461_20200502-083609.JPG"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.14 木村 友紀枝</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e3%80%90thecreative%e3%80%913%e3%83%b6%e6%9c%88%e3%82%a2%e3%83%af%e3%83%bc%e3%83%89%e7%99%ba%e8%a1%a8/">【TheCreative】3ヶ月アワード発表</a></div> <span class="badge badge-pill badge-info">♥ 8</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e7%b5%8c%e5%96%b6%e3%81%a8%e3%81%af-16/"><img src="http://member.ard-online.jp/user_upload/3602_20200812-093715.jpg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.14 須賀 雅大</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e7%b5%8c%e5%96%b6%e3%81%a8%e3%81%af-16/">経営とは</a></div> <span class="badge badge-pill badge-info">♥ 5</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/foreigner-community-vo13/"><img src="http://member.ard-online.jp/user_upload/545_20200730-154109.JPG"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.14 譲原 裕之</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/foreigner-community-vo13/">【軌跡 Day.13】在日外国人コミュニティ事業</a></div> <span class="badge badge-pill badge-info">♥ 1</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e3%80%90%e4%bd%99%e7%99%bd%e3%81%82%e3%82%8b%e5%a0%b4%e6%89%80%e3%81%a7%e6%98%a0%e7%94%bb%e3%81%ab%e3%81%aa%e3%82%8b%e3%82%88%e3%81%86%e3%81%aa%e3%81%be%e3%81%a1%e3%81%a5%e3%81%8f%e3%82%8a%e3%82%92/"><img src="https://member.ard-online.jp/user_upload/890_20200111-005433.png"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.14 吉田 爽</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e3%80%90%e4%bd%99%e7%99%bd%e3%81%82%e3%82%8b%e5%a0%b4%e6%89%80%e3%81%a7%e6%98%a0%e7%94%bb%e3%81%ab%e3%81%aa%e3%82%8b%e3%82%88%e3%81%86%e3%81%aa%e3%81%be%e3%81%a1%e3%81%a5%e3%81%8f%e3%82%8a%e3%82%92/">【余白ある場所で映画になるようなまちづくりを】TheCreative3ヶ月アワード続き。スライドの一部とビジョン少しと。</a></div> <span class="badge badge-pill badge-info">♥ 6</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e4%b8%80%e7%9e%ac%e3%81%a7%e6%88%90%e9%95%b7%e3%81%a7%e3%81%8d%e3%82%8b%e4%ba%ba%e3%80%81%e3%81%84%e3%81%a4%e3%81%be%e3%81%a7%e7%b5%8c%e3%81%a3%e3%81%a6%e3%82%82%e6%88%90%e9%95%b7%e3%81%a7%e3%81%8d/"><img src="https://member.ard-online.jp/user_upload/1818_20200117-063618.jpg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.13 きしだけいすけ @ライブナウ</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e4%b8%80%e7%9e%ac%e3%81%a7%e6%88%90%e9%95%b7%e3%81%a7%e3%81%8d%e3%82%8b%e4%ba%ba%e3%80%81%e3%81%84%e3%81%a4%e3%81%be%e3%81%a7%e7%b5%8c%e3%81%a3%e3%81%a6%e3%82%82%e6%88%90%e9%95%b7%e3%81%a7%e3%81%8d/">一瞬で成長できる人、いつまで経っても成長できない人 →3年後</a></div> <span class="badge badge-pill badge-info">♥ 31</span> <span class="badge badge-pill badge-warning">コメント 1</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e3%81%a0%e3%82%89%e3%81%a0%e3%82%89%e3%83%a6%e3%83%bc%e3%82%b6%e3%83%bc%e3%83%8e%e3%83%bc%e3%83%88%e6%9b%b8%e3%81%93%e3%81%86%e3%81%a8%e6%80%9d%e3%81%a3%e3%81%a6%e6%9b%b8%e3%81%84%e3%81%a6%e3%81%9f/"><img src="https://member.ard-online.jp/user_upload/2975_20190909-153730.jpeg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.13 まつともーーーーー (宇宙人)</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e3%81%a0%e3%82%89%e3%81%a0%e3%82%89%e3%83%a6%e3%83%bc%e3%82%b6%e3%83%bc%e3%83%8e%e3%83%bc%e3%83%88%e6%9b%b8%e3%81%93%e3%81%86%e3%81%a8%e6%80%9d%e3%81%a3%e3%81%a6%e6%9b%b8%e3%81%84%e3%81%a6%e3%81%9f/">だらだらユーザーノート書こうと思って書いてたら理念の芯みたいなのを言語化してもうた話。</a></div> <span class="badge badge-pill badge-info">♥ 22</span> <span class="badge badge-pill badge-warning">コメント 9</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e6%90%8d%e7%9b%8a%e5%88%86%e5%b2%90%e7%82%b9-4/"><img src="http://member.ard-online.jp/user_upload/3565_20200714-103856.jpeg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.13 松本 幸大</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e6%90%8d%e7%9b%8a%e5%88%86%e5%b2%90%e7%82%b9-4/">損益分岐点</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/klp027/"><img src="https://member.ard-online.jp/user_upload/2153_20170919-055624.jpg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.13 杉江 佳純</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/klp027/">みんな、もっとバカを表現しようぜ。</a></div> <span class="badge badge-pill badge-info">♥ 36</span> <span class="badge badge-pill badge-warning">コメント 2</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e4%bc%81%e7%94%bb%e6%9b%b8%e3%81%a8%e3%81%af-2/"><img src="http://member.ard-online.jp/user_upload/3565_20200714-103856.jpeg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.13 松本 幸大</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e4%bc%81%e7%94%bb%e6%9b%b8%e3%81%a8%e3%81%af-2/">企画書とは</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e5%bc%b1%e3%81%bf%e3%80%81%e5%bc%b7%e3%81%bf%e5%88%86%e6%9e%90/"><img src="http://member.ard-online.jp/user_upload/3565_20200714-103856.jpeg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.13 松本 幸大</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e5%bc%b1%e3%81%bf%e3%80%81%e5%bc%b7%e3%81%bf%e5%88%86%e6%9e%90/">弱み、強み分析</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/20200808_thecreative3monthaward/"><img src="http://member.ard-online.jp/user_upload/2010_20200815-100750.png"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.13 廣田 大地</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/20200808_thecreative3monthaward/">TheCreative3ヶ月アワード感想</a></div> <span class="badge badge-pill badge-info">♥ 16</span> <span class="badge badge-pill badge-warning">コメント 1</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/foreigner-communityvol12/"><img src="http://member.ard-online.jp/user_upload/545_20200730-154109.JPG"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.13 譲原 裕之</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/foreigner-communityvol12/">【軌跡 Day.12】在日外国人コミュニティ事業</a></div> <span class="badge badge-pill badge-info">♥ 2</span> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <a href="https://member.ard-online.jp/usernote/%e3%81%82%e3%80%9c%e3%81%b2%e3%81%a8%e3%82%8a%e3%81%98%e3%82%83%e3%81%aa%e3%81%8b%e3%81%a3%e3%81%9f%e3%82%93%e3%82%84%e3%81%aa%e3%81%a3%e3%81%a6%e6%b0%97%e4%bb%98%e3%81%8d%e3%81%be%e3%81%97%e3%81%9f/"><img src="http://member.ard-online.jp/user_upload/3447_20200812-230603.jpeg"></a> </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.13 宇野 史菜</div>
            <div class="leader__indexlist__title"><a href="https://member.ard-online.jp/usernote/%e3%81%82%e3%80%9c%e3%81%b2%e3%81%a8%e3%82%8a%e3%81%98%e3%82%83%e3%81%aa%e3%81%8b%e3%81%a3%e3%81%9f%e3%82%93%e3%82%84%e3%81%aa%e3%81%a3%e3%81%a6%e6%b0%97%e4%bb%98%e3%81%8d%e3%81%be%e3%81%97%e3%81%9f/">あ〜ひとりじゃなかったんやなって気付きました</a></div> <span class="badge badge-pill badge-info">♥ 16</span> <span class="badge badge-pill badge-warning">コメント 4</span> </div>
        </div>
      </div>
    </div> <a href="/usernote" class="btn btn-block">もっとユーザーノートを見る</a>
    <h3 class="usernote__recommend-header">新着ユーザーノートコメント</h3>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="http://member.ard-online.jp/user_upload/2335_20200627-152900.jpeg"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.16 ほりい しょうご</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e3%81%82%e3%81%aa%e3%81%9f%e3%81%8c%e3%83%a2%e3%83%8e%e3%83%9d%e3%83%aa%e3%83%bc%e3%81%8c%e5%bc%b7%e3%81%8f%e3%81%aa%e3%82%89%e3%81%aa%e3%81%84%e7%90%86%e7%94%b1%e3%81%af%e3%80%81%e3%80%81/">あなたがモノポリーが強くならない理由は、...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="http://member.ard-online.jp/user_upload/1936_20200807-132413.jpg"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.16 内田 陸生</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e3%81%82%e3%81%aa%e3%81%9f%e3%81%8c%e3%83%a2%e3%83%8e%e3%83%9d%e3%83%aa%e3%83%bc%e3%81%8c%e5%bc%b7%e3%81%8f%e3%81%aa%e3%82%89%e3%81%aa%e3%81%84%e7%90%86%e7%94%b1%e3%81%af%e3%80%81%e3%80%81/">あなたがモノポリーが強くならない理由は、...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="http://member.ard-online.jp/user_upload/2335_20200627-152900.jpeg"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.16 ほりい しょうご</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e3%81%82%e3%81%aa%e3%81%9f%e3%81%8c%e3%83%a2%e3%83%8e%e3%83%9d%e3%83%aa%e3%83%bc%e3%81%8c%e5%bc%b7%e3%81%8f%e3%81%aa%e3%82%89%e3%81%aa%e3%81%84%e7%90%86%e7%94%b1%e3%81%af%e3%80%81%e3%80%81/">あなたがモノポリーが強くならない理由は、...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="http://member.ard-online.jp/user_upload/2010_20200815-100750.png"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.16 廣田 大地</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/20200816_umakuhanasenai/">自分のことをうまく話せなくなったので書く</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="https://member.ard-online.jp/user_upload/2975_20190909-153730.jpeg"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.16 まつともーーーーー (宇宙人)</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e7%9b%ae%e3%81%ab%e8%a6%8b%e3%81%88%e3%81%aa%e3%81%84%e4%b8%96%e7%95%8c%e3%82%92%e4%bf%a1%e3%81%98%e3%81%9f%e3%81%93%e3%81%a8%e3%81%af%e3%81%82%e3%82%8a%e3%81%be%e3%81%99%e3%81%8b%ef%bc%9f/">目に見えない世界を信じたことはありますか...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="https://member.ard-online.jp/user_upload/2975_20190909-153730.jpeg"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.16 まつともーーーーー (宇宙人)</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e7%9b%ae%e3%81%ab%e8%a6%8b%e3%81%88%e3%81%aa%e3%81%84%e4%b8%96%e7%95%8c%e3%82%92%e4%bf%a1%e3%81%98%e3%81%9f%e3%81%93%e3%81%a8%e3%81%af%e3%81%82%e3%82%8a%e3%81%be%e3%81%99%e3%81%8b%ef%bc%9f/">目に見えない世界を信じたことはありますか...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="https://member.ard-online.jp/user_upload/2975_20190909-153730.jpeg"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.16 まつともーーーーー (宇宙人)</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e7%9b%ae%e3%81%ab%e8%a6%8b%e3%81%88%e3%81%aa%e3%81%84%e4%b8%96%e7%95%8c%e3%82%92%e4%bf%a1%e3%81%98%e3%81%9f%e3%81%93%e3%81%a8%e3%81%af%e3%81%82%e3%82%8a%e3%81%be%e3%81%99%e3%81%8b%ef%bc%9f/">目に見えない世界を信じたことはありますか...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="http://member.ard-online.jp/user_upload/3447_20200812-230603.jpeg"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.16 宇野 史菜</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e3%81%82%e3%80%9c%e3%81%b2%e3%81%a8%e3%82%8a%e3%81%98%e3%82%83%e3%81%aa%e3%81%8b%e3%81%a3%e3%81%9f%e3%82%93%e3%82%84%e3%81%aa%e3%81%a3%e3%81%a6%e6%b0%97%e4%bb%98%e3%81%8d%e3%81%be%e3%81%97%e3%81%9f/">あ〜ひとりじゃなかったんやなって気付きま...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="http://member.ard-online.jp/user_upload/3447_20200812-230603.jpeg"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.16 宇野 史菜</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e3%81%82%e3%80%9c%e3%81%b2%e3%81%a8%e3%82%8a%e3%81%98%e3%82%83%e3%81%aa%e3%81%8b%e3%81%a3%e3%81%9f%e3%82%93%e3%82%84%e3%81%aa%e3%81%a3%e3%81%a6%e6%b0%97%e4%bb%98%e3%81%8d%e3%81%be%e3%81%97%e3%81%9f/">あ〜ひとりじゃなかったんやなって気付きま...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="https://member.ard-online.jp/user_upload/3390_20200322-002845.jpeg"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.15 川端 壮樹</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e7%9b%ae%e3%81%ab%e8%a6%8b%e3%81%88%e3%81%aa%e3%81%84%e4%b8%96%e7%95%8c%e3%82%92%e4%bf%a1%e3%81%98%e3%81%9f%e3%81%93%e3%81%a8%e3%81%af%e3%81%82%e3%82%8a%e3%81%be%e3%81%99%e3%81%8b%ef%bc%9f/">目に見えない世界を信じたことはありますか...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="http://member.ard-online.jp/user_upload/2335_20200627-152900.jpeg"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.15 ほりい しょうご</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e7%9b%ae%e3%81%ab%e8%a6%8b%e3%81%88%e3%81%aa%e3%81%84%e4%b8%96%e7%95%8c%e3%82%92%e4%bf%a1%e3%81%98%e3%81%9f%e3%81%93%e3%81%a8%e3%81%af%e3%81%82%e3%82%8a%e3%81%be%e3%81%99%e3%81%8b%ef%bc%9f/">目に見えない世界を信じたことはありますか...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="http://member.ard-online.jp/user_upload/2335_20200627-152900.jpeg"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.15 ほりい しょうご</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/20200816_umakuhanasenai/">自分のことをうまく話せなくなったので書く</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="https://member.ard-online.jp/user_upload/2529_20191001-074257.jpeg"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.15 笹木 珠代</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e7%9b%ae%e3%81%ab%e8%a6%8b%e3%81%88%e3%81%aa%e3%81%84%e4%b8%96%e7%95%8c%e3%82%92%e4%bf%a1%e3%81%98%e3%81%9f%e3%81%93%e3%81%a8%e3%81%af%e3%81%82%e3%82%8a%e3%81%be%e3%81%99%e3%81%8b%ef%bc%9f/">目に見えない世界を信じたことはありますか...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="http://member.ard-online.jp/user_upload/3203_20200616-094815.jpeg"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.15 今川 駿</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e4%ba%ba%e7%94%9f%e3%81%ae%e9%80%b2%e6%8d%971/">人生の進捗1</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="https://graph.facebook.com/100002535428269/picture?type=large"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.15 村松 佳優</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e3%80%90thecreative%e3%81%a7%e6%9c%80%e3%82%82%e4%be%a1%e5%80%a4%e3%81%82%e3%82%8b%e4%b8%80%e6%97%a5%e3%80%913%e3%83%b6%e6%9c%88%e3%82%a2%e3%83%af%e3%83%bc%e3%83%89%e7%99%ba%e8%a1%a8%e4%bc%9a-3/">【TheCreativeで最も価値ある一...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="https://graph.facebook.com/100002535428269/picture?type=large"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.15 村松 佳優</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/__trashed-4/">【TheCreativeで最も価値のある...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="https://graph.facebook.com/100002535428269/picture?type=large"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.15 村松 佳優</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e3%80%90thecreative%e3%81%a7%e6%9c%80%e3%82%82%e4%be%a1%e5%80%a4%e3%81%82%e3%82%8b%e4%b8%80%e6%97%a5%e3%80%913%e3%83%b6%e6%9c%88%e3%82%a2%e3%83%af%e3%83%bc%e3%83%89%e7%99%ba%e8%a1%a8%e4%bc%9a-2/">【TheCreativeで最も価値ある一...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="https://graph.facebook.com/100002535428269/picture?type=large"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.15 村松 佳優</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e3%80%90thecreative%e3%81%a7%e6%9c%80%e3%82%82%e4%be%a1%e5%80%a4%e3%81%82%e3%82%8b%e4%b8%80%e6%97%a5%e3%80%913%e3%83%b6%e6%9c%88%e3%82%a2%e3%83%af%e3%83%bc%e3%83%89%e7%99%ba%e8%a1%a8%e4%bc%9a-2/">【TheCreativeで最も価値ある一...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="https://graph.facebook.com/100002535428269/picture?type=large"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.15 村松 佳優</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e3%80%90thecreative%e3%81%a7%e6%9c%80%e3%82%82%e4%be%a1%e5%80%a4%e3%81%82%e3%82%8b%e4%b8%80%e6%97%a5%e3%80%913%e3%83%b6%e6%9c%88%e3%82%a2%e3%83%af%e3%83%bc%e3%83%89%e7%99%ba%e8%a1%a8%e4%bc%9a-2/">【TheCreativeで最も価値ある一...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="https://graph.facebook.com/100002535428269/picture?type=large"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.15 村松 佳優</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e3%80%90thecreative%e3%81%a7%e6%9c%80%e3%82%82%e4%be%a1%e5%80%a4%e3%81%82%e3%82%8b%e4%b8%80%e6%97%a5%e3%80%913%e3%83%b6%e6%9c%88%e3%82%a2%e3%83%af%e3%83%bc%e3%83%89%e7%99%ba%e8%a1%a8%e4%bc%9a-2/">【TheCreativeで最も価値ある一...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="https://graph.facebook.com/100002535428269/picture?type=large"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.15 村松 佳優</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e3%80%90thecreative%e3%81%a7%e6%9c%80%e3%82%82%e4%be%a1%e5%80%a4%e3%81%82%e3%82%8b%e4%b8%80%e6%97%a5%e3%80%913%e3%83%b6%e6%9c%88%e3%82%a2%e3%83%af%e3%83%bc%e3%83%89%e7%99%ba%e8%a1%a8%e4%bc%9a-2/">【TheCreativeで最も価値ある一...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="https://graph.facebook.com/100002535428269/picture?type=large"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.15 村松 佳優</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e3%80%90thecreative%e3%81%a7%e6%9c%80%e3%82%82%e4%be%a1%e5%80%a4%e3%81%82%e3%82%8b%e4%b8%80%e6%97%a5%e3%80%913%e3%83%b6%e6%9c%88%e3%82%a2%e3%83%af%e3%83%bc%e3%83%89%e7%99%ba%e8%a1%a8%e4%bc%9a-2/">【TheCreativeで最も価値ある一...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="https://graph.facebook.com/100002535428269/picture?type=large"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.15 村松 佳優</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e3%80%90thecreative%e3%81%a7%e6%9c%80%e3%82%82%e4%be%a1%e5%80%a4%e3%81%82%e3%82%8b%e4%b8%80%e6%97%a5%e3%80%913%e3%83%b6%e6%9c%88%e3%82%a2%e3%83%af%e3%83%bc%e3%83%89%e7%99%ba%e8%a1%a8%e4%bc%9a-2/">【TheCreativeで最も価値ある一...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> <img src="https://graph.facebook.com/100002535428269/picture?type=large"> </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernotecomment__indexlist__date">08.15 村松 佳優</div>
            <div class="usernotecomment__indexlist__title"> <a href="https://member.ard-online.jp/usernote/%e3%80%90thecreative%e3%81%a7%e6%9c%80%e3%82%82%e4%be%a1%e5%80%a4%e3%81%82%e3%82%8b%e4%b8%80%e6%97%a5%e3%80%913%e3%83%b6%e6%9c%88%e3%82%a2%e3%83%af%e3%83%bc%e3%83%89%e7%99%ba%e8%a1%a8%e4%bc%9a-2/">【TheCreativeで最も価値ある一...</a> <span>へのコメント</span></div>
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-4 col-md-6 -->
    </div>
    <!-- .row -->
  </div>
</section>