<div class="main_area">
  <div class="container"> 
    
    <h1 class="page-header">【経営基礎 vol.<%= @basic_knowledge_category.knowledge_category_id %>】<%= @basic_knowledge_category.name %></h1>
    <div class="row">
      <!-- START main-content -->
      <div class="col-md-9">
        <% @basic_knowledges.each do |knowledge| %>
          <div class="v-wrap"> 
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= knowledge.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        <% end %>
      </div>
    </div>
    <!-- container -->
  </div>
</div>