<div class="container">
  <%= form_tag("create") do %>
    <div class="form">
      <div class="form-body">
        <p>カテゴリ名</p> <textarea name="name"></textarea>
        
        <input type="submit" value="投稿"> 
      </div>
    </div>
    <% end %>
</div>