


<%= form_tag("create") do %>
    <div class="form">
      <div class="form-body">
        <p>タイトル</p> <textarea name="title"></textarea>
        <p>ボディ</p> <textarea name="text" rows="40" cols="120"></textarea>
        
        <input type="submit" value="投稿"> 
      </div>
    </div>
    <% end %>