$color-white: #fff;
$color-black: #333;
$color-realBlack: #000;
$color-lightBlack: #433d3d;
$color-lightGray: #f5f5f5;
$color-realGray: #efefef;
$color-gray: #cccccc;
$color-Red: red;
$color-lightPink: #f4e6d7;
$color-lightWhitePink: #ffeee0;
$color-brawn: #714828;
$color-orange: #ff7400;
$color-blueBlue: #1eaebf;
$color-strongOrange: #ff9f4f;
$color-lightOrange: #ffe2c9;
$color-couponOrange: #f86;
$color-darkBrawn: #2f251d;
$color-lightGrenn: #dff0d8;
$color-Grenn: #3c763d;
$color-darkBlue: #383850;
