<div class="mypage__header" style="height:200px;">
  <div class="mypage__header__imgbg"> </div>
</div>
<div class="mypage__header__name">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p> トライ君 <span>()</span></p>
      </div>
    </div>
  </div>
</div>
<div class="container mypage__main">
  <div class="row">
    <div class="col-12"> <img class="mypage__usericon-img" src="https://member.ard-online.jp/user_upload/2346_20190213-150621.png" alt="">
      <div class="mypage__profile__edit"> <a class="btn btn-sm" href="/profile">あなたの情報を更新する</a> <a class="btn btn-sm" href="/profile-img">アイコンを設定する</a> <a class="btn btn-sm" href="/profile-cover">カバー画像を設定する</a> <a class="btn btn-sm" href="/user/?id=2346">プロフィールプレビュー</a> </div>
    </div>
    <!-- .col-12 -->
    <div class="col-sm-4 mypage__profile">
      <h3>プロフィール</h3> デザイン/プログラミングあたりが好きです。<br> webデザイン/UI/UX/フロントエンド(HTML,Css,Javascript）/サーバーサイド（Java,PHP）<br> やってます<br> あ、あと面白い人と仕事がしたい </div>
    <div class="col-sm-4 mypage__philosophy">
      <h3>自己理念</h3>
      <h4>楽しい仲間と創造し続ける</h4> 原体験は、親同士が仲悪かったこと。<br> それにすごい居心地の悪さを感じ、とにかく場の雰囲気を楽しませようと努力してきました。<br> <br> あと、小さい頃から何かを作るのが好きで、<br> 一度やり始めるとずっと時間を忘れて<br> 没頭してしまいます。<br> そんな状態になる仕事をしたい </div>
  </div>
</div>
<section id="mypage__usernote" class="section-black bs-docs-section">
  <div class="container">
    <h3>ユーザーノート</h3>
    <p><a href="http://member.ard-online.jp/wp-admin/edit.php?post_type=usernote" target="_blank" class="btn btn-primary">今スグユーザーノートを書く</a></p>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-3">
            <a href="https://member.ard-online.jp/usernote/foreigner-community-vol15/">
              <div class="mypage__usernote-thumb" style="background-image:url(https://member.ard-online.jp/wp-content/themes/ar_ver5/img/noimage.png);background-size:cover;background-position:center;width:100%;min-width:80px;height:80px;"> </div>
            </a>
          </div>
          <!-- .col-3 -->
          <div class="col-9">
            <div class="usernote__mypagelist__date">20.08.17 譲原 裕之</div>
            <div class="usernote__mypagelist__title"><a href="https://member.ard-online.jp/usernote/foreigner-community-vol15/">【軌跡 Day.15】在日外国人コミュニティ事業</a><br> <span>【目標】▶︎1年1.社会『道を定め、存在意義に火を灯し始める』2.目標同じ軸を持ち、自身の目標が定まった、命をかけられる</span> </div> <span class="badge badge-pill badge-info">♥ 4</span> 
          </div>
          <!-- .col-9 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-lg-6 col-md-12 -->
     
      <!-- .col-lg-6 col-md-12 -->
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</section>