<% if user_signed_in? %>
      <div class="sub">
  <div class="commonBox-container">
    <h2 class="contactTitle">プロフィール情編集画面</h2>
    <%= form_tag("/profile/update", {:multipart => true }) do  %>
      <div class="contact-box">
        <span class="itemName">ユーザー名</span> 
        <div class="text-wrap"><textarea name="name"></textarea></div>
      </div>
      <div class="contact-box">
        <span class="itemName">プロフィール画像</span> 
        <div class="text-wrap"><input type="file" name="iconimageurl" ></div>
      </div>
      <div class="contact-box">
        <span class="itemName">カバー画像</span> 
        <div class="text-wrap"><input type="file" name="coverimageurl" ></div>
      </div>
      <div class="contact-box">
        <span class="itemName">プロフィール（自己紹介）</span> 
        <div class="text-wrap"><textarea name="profile" rows="20"></textarea></div>
      </div>
      <div class="contact-box">
        <span class="itemName">自己理念</span> 
        <div class="text-wrap"><textarea name="selfideal" rows="4"></textarea></div>
      </div>
      <div class="submit-wrap">
        <input type="submit" value="保存"> 
      </div>
      <% end %>
  </div>
</div>
<% end %>